@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

*{
  text-align: center;
  color: lightslategray;
}
body{
  font-weight: bolder;
}

.app{
  background-color: pink;
}
.header{
background-color: antiquewhite;
}

.wrapper-section{
  display: flex;
  justify-content: space-evenly;
  padding: 0 25px 15px 25px;
}
.inventory{
    background-color: aquamarine;
  width: 50%;
}

.adminPanel{
  form{
    display: flex;
    flex-direction: column;
    label{
      text-align: left;
    }
  }
}