@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin-ext");
* {
  text-align: center;
  color: lightslategray; }

body {
  font-weight: bolder;
  font-family: "Montserrat', sans-serif"; }

.app {
  background-color: red; }

.header {
  background-color: black; }

.wrapper-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 25px 15px 25px; }

.inventory {
  background-color: palegreen;
  width: 50%; }

.adminPanel form {
  display: flex;
  flex-direction: column; }
  .adminPanel form label {
    text-align: left; }

.adminForm {
  display: flex;
  justify-content: center; }
  .adminForm input, .adminForm textarea {
    width: 500px;
    height: 40px;
    margin-top: 10px; }
  .adminForm label {
    font-size: 20px; }
  .adminForm button {
    width: 100px;
    height: 40px;
    font-size: 30px;
    background-color: blueviolet; }
