@import "utils/variables";
@import "utils/functions";
@import "utils/mixxins";
@import "layout/inventory";
@import "layout/adminPanel";
@import "layout/orderPanel";
@import  url("https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin-ext");
*{
  text-align: center;
  color: lightslategray;
}
body{
  font-weight: bolder;
  font-family: $main-font;
}

.app{
  background-color: red;
}
.header{
background-color: black;
}

.wrapper-section{
  display: flex;
  justify-content: space-evenly;
  padding: 0 25px 15px 25px;
}
.inventory{
    background-color: palegreen;
  width: 50%;
}

.adminPanel{
  form{
    display: flex;
    flex-direction: column;
    label{
      text-align: left;
    }
  }
}

.adminForm{
  display: flex;
  justify-content: center;
  input, textarea{
    width: 500px;
    height: 40px;
    margin-top: 10px;
  }
  label{
    font-size: 20px;
  }
  button{
    width: 100px;
    height: 40px;
    font-size: 30px;
    background-color: blueviolet;
  }
}

